.about_hero{
    background-image: url(./pic/bg-img/about.webp);
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 15%;
    color: white;
    overflow: hidden;
    position: relative;

}
body{
    font-family: 'roboto';
    color: rgb(102, 102, 102);;
}
nav .btn{
    background-color: transparent;
}
.about_hero div{
   position: absolute;
   top: 35%;
   left: 40%;
}

.see_more_f_m:hover{
    background-color: #666666;
    color: white;
}
.see_more_f_m{
    
    background-color: #cc3333;
    color: white;
    padding: 10px 15px;
    border-radius: 5%;
}

.about-hero-2{
    background-image: url(./pic/bg-img/about-bg-21.webp);
    height: fit-content;
    color: white;
}
.about-hero-2 .see_more_f_m{
    background-color: #79a1bb;
}
.about-hero-2 .see_more_f_m:hover{
    background-color: black;
}

/*.................*/
.content_box{
    border-bottom: 4px solid black;
}
.person{
    box-shadow: 1px 1px 5px 4px rgb(217, 217, 217);
}

.person .pic_box{
    overflow: hidden;
}
.person .pic_box img{
    transition: transform 0.4s ease-out;
}
.person:hover{
   img{
     transform: scale(1.1);
   }
   .content_box{
    border-bottom: 4px solid #cc3333;
}

}
/*;;;;;;;;;;;;;;;;*/

.costumers .carousel-indicators [data-bs-target] {
  background-color: #9b9797;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.carousel-indicators{
  margin-right: 70%;
}
.customer_content {
    border-left: 2px solid #cc3333;
    box-shadow: 1px 1px 5px 3px rgb(199, 199, 199, 0.6);
}

.costomer_card{
    max-width: 87%;
}


.see_more_f_m:hover{
    background-color: #000000;
    color: white;
}
.see_more_f_m{
    
    background-color: #cc3333;
    color: white;
    padding: 10px 15px;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    margin-left: auto;
    margin-right: auto;
}


/*smaal and xs*/
@media (max-width: 768px){

.com_box_2{
    padding: 0px !important;
}
.blog_cont_part1{
    width: 95%;
}
.commenter{
    width: 70%;
}
}


/*medium */
@media (min-width: 768px) and (max-width: 992px){

}



/*bloooooooooooooooooog*/
.blog_hero{
    background-image: url(./pic/menu-page/menu-page-bg.webp);
    height: 40vh;
}
/*part 1*/
.part_1_btn_box a{
    border: 1px solid #cac7c7;
    padding: 2px 6px;
}
.part_1_btn_box a:hover{
    color: white;
    background-color: #cc3333;
    border: 1px solid #cc3333;
}
.blog_cont_part1 .border_b{
    border:  1px solid #cac7c7;
    
}
.form-control:focus{
    border-color: #cc3333;
}
.btn{
    background-color: #cc3333;
}
.btn:hover {
    background-color: black;
}

/*part2*/

.blog_cont_part2 h2{
    border-bottom: 1px solid #666666;
}
.blog_cont_part2 .card {
    border: none;
}
.Latest_Post_pic_box{
transition: all 0.2s ease-in;
overflow: hidden;
width: fit-content;
}
.Latest_Post_pic_box:hover{
    transform: scale(1.05);
}
.secandary_border{
    border-bottom: 1px solid #666666;

}
.All_Service_con{
    border-bottom: 1px dashed #666666;
}
.carousel-control-next, .carousel-control-prev{
    opacity: 1;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
filter: invert(100%);
}
.span_box{
    background-color: white;
    padding: 3px 5px;
}
.span_box:hover{
background-color: #cc3333;
}

.tag_box a{
    border: 1px solid #cac7c7;
    padding: 4px 6px;
}
.tag_box a:hover{
    color: white;
    background-color: #cc3333;
    border: 1px solid #cc3333;
}

/*commernt*/

.comment_box img{
max-width: 100%;
}

.reply{
     border: 1px solid #cac7c7;
    padding: 4px 10px;
     border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}
.reply:hover{
    color: white;
    background-color: #cc3333;
    border: 1px solid #cc3333;
}

.main_col_border:hover,
.main_col_border:focus{
    border: 1px solid #cc3333;
}
.sum_com{
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    background-color: #cc3333;
    color: white;
    padding: 10px 15px   ;
}
.sum_com:hover{
    color: white;
    background-color: black;
}
.blog_cont_part1 img{
    width: 100%;
}
.Popular_Q{
    background-color: rgb(226, 227, 227, 0.5);
}
.accordion-button:not(.collapsed) {
        background-color: rgb(226, 227, 227);
}

.Popular_Categories{
background-color: rgb(241, 245, 255);
}
.Popular_Categories_content_box{
    overflow: auto;
}
.pc_box{
    min-width: 260px;
}
.Popular_Categories_price{
    background-color: white;
    width:fit-content;
    height: fit-content;
    border-radius: 5%;
    position: relative;
    bottom: 90px;
    left: 40px;
}