:root{
  --main_color:#cc3333;

}

body{
    font-family: 'roboto';
    color: rgb(102, 102, 102);;
}
nav{
  z-index: 9;
  background-color: rgba(206, 208, 209, 0.6);
}
a{
  text-decoration: none;
  color: #666666;
}
ul{
  text-decoration: none;
  list-style: none;
}
.mar_y_80{
  margin-top: 80px;
  margin-bottom: 80px;
}
.mar_top_3{
margin-top: 100px;
}
.pad_5{
  padding: 5px;
}

.sub_font{
  font-family: 'Lobster Two'!important;
}
.sec_col{
  color: #666666;
}
.to_main_col:hover{
  color: #cc3333 !important;
}

.to_main_bg_color:hover{
  background-color: #cc3333;
}
.direction_col{
  flex-direction: column;
}
.length{
  height: 1500px;
  background-color:antiquewhite;
}
.txt_main_col{
  color: var(--main_color);
}
.main_col_bg{
  background-color: var(--main_color);
}
.my_container{
  width: 75%;
  margin: auto;
}

.proj_btn{
  
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

/*start nav*/

.nav i:hover{
  color: #cc3333 !important;
}
.navbar-light .navbar-nav .nav-link:hover,
.num_call:hover{
  color: var(--main_color);
}

.navbar a,
.navbar span{
  font-weight:600;
}

.nav_cart{
  position: relative;
}
.nav_cart:hover::after{
    background-color: #666666;
  
}
.nav_cart:hover{
  color: #cc3333;
}
  .nav_cart::after {
    content: "2";
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    text-align: center;
    padding: 0px 5px;
    background-color: #cc3333;
    position: absolute;
    top: -5px;
    right: -16px;
}

/*end nav*/



/*start hero */
.hero_sec_bg{
 background-image: url(./pic/hero/hero-bg.webp);
}
.hero_btn_col{
  background-color: rgb(102, 102, 102);
  outline: none;
  border: none;
  height: 5px;
  width: 75px;
}
.offcanvas{
  background-color: rgb(213 221 240);
}
.carousel-indicators [data-bs-target] {
    height: 8px;
    border-radius: 50%;
}
.b_hero_btn .hero_btn_col:focus{
  background-color: #cc3333;
}
.hero_part_1{
  position: relative;
  left: -100%;
  animation: come_left 2s ease-out forwards;
  opacity: 0;
  padding-bottom: 40px;
}
.hero_part_2{
  position: relative;
  right: -100%;
  animation: come_right 2s ease-out forwards;
  opacity: 0;
  padding-bottom: 40px;

}
.rotated-text {
  transform: rotate(90deg);
  transform-origin: left top; 
  display: inline-block;    
}
.width_1{
  width: 1%;
}
.hero_links:hover{
  color: #cc3333;
  text-decoration: underline;
}

.index_hero .carousel-indicators [data-bs-target] {
  background-color: #cc3333;
}
/*end-hero*/

/*sec 2 start*/
.sec2_pic_box{
  border-radius: 50%;
  background-color: #fff9f4;
  padding: 30px 40px;

}
.sec2{
  border: 2px solid #e3e1e1;

  position: relative;
  top: 0;
  transition: top 0.5s ease, box-shadow 0.3s ease;
}
.sec_2_txt_box{
  background-image: url(./pic/sec2/card-bg.webp);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.pos_cen{
  position:relative;
  left: -20px;
  top: 0;
    transition: all 0.5s ease-in;

  }
.sec2 .change_col {
  transition: color 0.5s ease;
}

.sec2:hover{
  border: 2px solid transparent;
  box-shadow: 1px 1px 10px 5px rgb(230, 229, 229);
  top: -15px;

  .pos_cen{
 top: -10px;
  }
  .change_col{
    color: #cc3333 !important;
  }

}

/*sec 2 end */

.sec3{
  background-image: url(./pic/sec3/project.webp);
  background-size: 100%;
  
  
}
.sec_3_box{
 border: 2px solid #cc3333;
 width: fit-content;
 background-color: white; 
box-sizing: border-box;
}
.sec3 .input-group{
  width: 15%;
}

.sec_3_filter{
  background-color: rgba(58, 58, 58, 0.5);
}
.sec3_part_1{
  position: relative;
  left: -100%;
  animation: come_left 1.5s ease-out forwards;
  opacity: 0;
}
.sec3_part_2{
   position: relative;
  right: -100%;
  animation: come_right 1.5s ease-out forwards;
  opacity: 0;
}


button:focus,
button:active,
.btn:focus,
.btn:active,
input:focus,
textarea:focus,
.form-control:focus  {
  outline: none !important;
  box-shadow: none !important;
}

.be_black:hover{
  background-color: #666666;
}

@keyframes come_left{
  0% {
    left: -100px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes come_right{
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
/*sec 3 end*/

/*home menu*/

.width_10{
  width: 10%;
}
.home_menu{
  background-image: url(./pic/bg-img/project\ pic09.webp);
  background-size: 100%;
}


.home_menu_img_box{
  overflow: hidden;
}
.card_price{
  width: 30%;
  height: 7%;
  background-color: #cc3333;
  color: white;
  padding: 5px;
  position: absolute;
  top :10px ;
  left: 7px;
  visibility: hidden;
}
.card_img{
  transition: transform 0.5s ease;
}
.card_box {
  flex-wrap: wrap;
}

.home_menu_plus{
  visibility: hidden;
  
}
@media (min-width: 992px) {
  .home_menu .card{
    width: 30%;
  }
  .home_menu .card_box{
    gap: 15px;
  }
 }
.card:hover{
  cursor: pointer;
  .card_price{
    visibility: visible;
    z-index: 1;
  }
  .card_img{
    transform: scale(1.1);
  }
  .home_menu_plus{
    visibility: visible;
    color: #cc3333;
  }
  .home_menu_cart{
    color: #cc3333;
  }
  a{
    color: #cc3333;
  }
}
/*end home*/

/*start phone*/

.phone_sec{
  background-image: url(./pic/bg-img/project\ pic23.webp);
  background-size: cover;
  height: 70vh;
}

.pho_part2{
flex-grow: 1;
}
.ph_1{
  
  position: relative;
  top: 0px;
  animation: move_up 1.2s ease-out 0s infinite alternate-reverse ;
}
.ph_2{
 
  position: relative;
  top: 0px;
  animation: move_up 1.2s ease-out 0.6s infinite alternate-reverse ;
 
}
@keyframes move_up{
  0%{
    top: -30px;
  }
  100%{
    top: 0px;
  }
}

@media (min-width:768px){
  .hero_wrap{
    flex-wrap: nowrap !important;
  }
}

/*xl & xxl*/
@media (min-width:1200px){
  .sec2{
    width: 23%;
  }
}

/*larg*/
@media (min-width:992px) and (max-width:1200px){
.sec2{
  width: 31%;
}
.hero_part_2 img{
    width: 95%;
  }
}

/*medium */
@media (min-width: 768px) and (max-width: 992px){
  .ph_1{
    display: none;
  }  
  .ph_2{
    height: 100%;
    width: 170%;
    
  }
  .home_menu .card{
    width: 45%;
    margin: 10px;
  }
  .sec2{
    width: 45%;
  }
  .home_menu_list img{
    width: 70%;
    margin: auto;
  }

  .hero_part_2 img{
    width: 95%;
  }
  .hero_part_1{
    margin-bottom: 30px;
  }

}

/*small*/
@media (min-width:576px ) and (max-width:768px){
 .sec2{
    width: 45%;
  }

  .home_menu .card{
    width: 45%;
    margin: 10px;
  }
}
/*smaal and xs*/
@media (max-width: 768px){
.ph_1,
.ph_2{
  display: none;
}
.home_menu_list img{
    width: 70%;
    margin: auto;
  }

  .hero_part_2 img{
    width: 95%;
  }
  .hero_part_1{
    margin-bottom: 30px;
    width: 100%;
    text-align: center !important;
  }
  .hero-btns{
    margin: auto;
  }
  .hero_part_2{
    width:100%;
    margin-bottom: 40px;
  }
  .hero_linls{
    visibility: hidden;
  }

}
/*xsmall*/
@media (max-width: 576px){
  .app_icon{
    max-width: 40%;
  }
  .home_menu_list {
    flex-wrap: wrap;
  }
  .sec3 .container{
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
  .sec2{
    width: 95%;
  }

  .home_menu .card{
    width: 95%;
    margin: 10px;
  }
  
}


/*end phone*/

/*start Available*/


.Available{
  background-image: url(./pic/bg-img/available.webp);
  background-repeat: no-repeat;
 

}
.Available_out{
  height: max-content;
}


.Available_part2{
  background-color: white ;
  padding: 15px;
  box-shadow: 1px 1px 18px 8px rgb(156, 156, 156, 0.5);
  
}

@media (max-width: 576px){
.Available_part2{
  width: 80%;
}
.Available_part1{
  padding-left: 20px;
  padding-top: 20px;
}
}



/*end Available*/

/*logos*/
.black_logos{
  background-image: url(./pic/bg-img/project\ pic31.webp);
  background-size: cover;
  overflow: auto;
}
.black_logos_in{
  background-color: rgba(0, 0, 0, 0.6);
}
/*logos*/

/*home_blog*/
.home_blog{
  background-image: url(./pic/bg-img/project\ pic39.webp);
}
.home_blog .card-body{
  border-bottom: 1px solid #666666;
}
.blog_cards .card{
  width: 100%;
}
.blog_cards{
  
  box-shadow: 1px 1px 12px 5px rgb(132, 131, 131, 0.5);
}
.blog_cards .card-title{
color: black;
font-weight: 600;
}
.blog_img_box{
  overflow: hidden;
  
}
.blog_img_box img{
  transition: transform 0.5s ease;
}
.blog_cards:hover{
  .card-title{
    color: #cc3333;
  }
  img{
    transform: scale(1.1);
  }
}

.blog_cards a{
  text-decoration: underline;
} 

/*end blog*/

footer{
  background-image: url(./pic/footer.webp);
}
.foot_input_box{
  width: max-content;
  background-color: white;
}
.foot_input_box button{
    border: 1px solid #cc3333;
}
.foot_input:hover{
  border: 1px solid #cc3333;
}
.foot_input_box button:hover{
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
}

.foot_foot{
  border-top: 2px solid #666666;
}
/*footer end*/
